@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

/*corpo*/
body{
    margin-left:70px;
    margin-right:70px;
}
header{
    margin-bottom: 15px;
}
header>div>ul>li>a{
    text-decoration: none;
    border: 1px solid black;
    padding: 0px 31px 0px 31px;    
    color: black;
}
header>div>ul>li{
    margin: 0px 8px 0px 8px;
}

/*classe*/
/*header*/
.pesquisa{    
    margin-top: 10px;
}
.header-container{
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
}
.navegacao{
    display: flex;
    justify-content:end;
}

/*main*/
.main-container{
    display: flex;
    justify-content: space-between;
    height: 90vh;
}

.esq{
    
}
.esq>ul>li{
    display: block;
}

.central{
    width: 520px;
    justify-content: center;
    align-content: center;
    
}
.central>ul>li{
    display: block;
}
.container-art1{
    display: flex;
    background-color: rgb(196, 196, 196);
    padding: 8px;
}


.dir{

}
.dir>ul>li{
   display: block;
}


.divs-na-main-para-article{
    padding-right: 8px;
    
}

/*id'*/
#FAS{
    margin-right: 25px;
    box-shadow: 3px 3px 5px black;
}

#BTNok{
    box-shadow: 3px 3px 5px black;
    padding-left:5px;
    padding-right:5px;
    margin-right: 3px;
}

#logo{
    
    margin-top: 1vh;
}



/*pontual*/
li{
    display: inline;
    padding: 10px;    
}

ul{
    margin-top: 10px;
}

/*pseudo*/
header>div>ul>li>a:hover{
    padding: 10px 33px 10px 33px;
}