@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

/*corpo*/
body{
    margin-left:70px;
    margin-right:70px;
    background-color: rgb(211, 208, 208);
}
header{
    margin-bottom: 15px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
header>div>ul>li>a{
    text-decoration: none;
    border: 1px solid black;
    padding: 0px 31px 0px 31px;    
    color: black;
}
header>div>ul>li{
    margin: 0px 8px 0px 8px;
}
main{
    background-color: white;
    border-radius: 10px;
}

/*classe*/
/*header*/
.pesquisa{    
    margin-top: 10px;
}
.header-container{
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
}
.navegacao{
    display: flex;
    justify-content:end;
}

/*main*/
.main-container{
    display: flex;
    justify-content: space-between;
    height: auto;
}

.esq{
    
}
.esq>ul>li{
    display: block;
}

.central{
    width: 520px;
    justify-content: center;
    align-content: center;
    
}
.central>ul>li{
    display: block;
}
.container-art{
    background-color: rgb(196, 196, 196);
    padding: 8px;
    border-radius: 6px;
}
.dir>ul>li{
   display: block;
}

.divs-na-main-para-article{
    padding-right: 8px;    
}

.LiDaBarraDePesquisaNaMain{
    display: block;
    border: 1px solid black;
    margin: 0px 0px 5px 0px;
    
}

.ArrumarOLinkT{
    border: 1px solid black;
    padding: 0px 0px 0px 10px;
}
/*Imagem*/
.resise{
    height:auto;
    width: 300px;

}
.resisedois{
    height: 300px;
}

.arrumandoBarraLateralDir{
    margin:10px 0px 0px 0px;
    background-color: rgb(196, 196, 196);
    padding: 8px;
    border-radius: 6px;
}

.container-rodape{
    display: flex;
    justify-content: space-between;
    margin: 5px 0px 0px 0px;
}

/*id'*/
#FAS{
    margin-right: 25px;
    box-shadow: 3px 3px 5px black;
}

#BTNok{
    box-shadow: 3px 3px 5px black;
    padding-left:5px;
    padding-right:5px;
    margin-right: 3px;
}

#logo{
    
    margin-top: 1vh;
}

#gambiarra{
    float: right;
    margin: 8px 0px 0px 0px;
}

/*pontual*/
li{
    display: inline;
    padding: 10px;    
}

ul{
    margin-top: 10px;
}

/*pseudo*/
header>div>ul>li>a:hover{
    padding: 10px 33px 10px 33px;
}