@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 3px;
}
h1{
    background-color: gray;
    color: white;
    padding: 5px;
    margin-bottom: 7px;
}
nav{
    position: absolute;
}
section{
    position: relative;
    margin-left: 120px;
   
}
main{
    margin-bottom: 50px;
}

li{
    padding: 7px;
    background-color: rgb(238, 238, 238);
    margin-left: 10px;
    margin-bottom: 1px;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}
footer{
    background-color: gray;
    padding: 10px;
    text-align: center;
    color: aliceblue;
}
p{
    padding-bottom: 7px;
}
h2{
    padding-bottom: 10px;
}