@charset "UTF-8";

#TituloUm{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#main{
    background-image: linear-gradient(to left ,rgb(203, 50, 250), pink);
}

.vrau{
    background-color: gray;
}

.paragrafo{
    background-color: brown;
    text-align: center;
}
